.env
/node_modules/
/.idea/
/prisma/
/src/components/ui/
.env.local
natehigger
/.next/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/*.tfplan

# AWS credentials
*.pem
.aws/
